body {
  overflow: hidden;
}
.sidebar {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  transition: all 300ms ease-out;
}
.sidebar-close {
  opacity: 0;
}

.sidebar-content {
  position: absolute;
  padding: 10px 40px 0 40px;
  width: 480px;
  height: 100vh;
  background: white;
  right: 0;
  top: 0;
  transition: all 300ms ease-out;
}
.sidebar-content-close {
  right: -46.875rem;
}
.hidden {
  animation: move-out 600ms;
  animation-timing-function: ease-out;
}
.visible {
  animation: move-in 600ms;
  animation-timing-function: ease-out;
}
@keyframes move-in {
  from {
    right: -400px;
  }
  to {
    right: 0px;
  }
}
@keyframes move-to {
  from {
    right: 0px;
  }
  to {
    right: -400px;
  }
}
