/*reset start*/
button {
  border: 0px;
  outline: none;
}
/*reset end*/
/*光箱*/
.sidebar {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: all 300ms ease-out;
  top: 0;
  left: 0;
}
/*光箱隱藏*/
.sidebar-hidden {
  opacity: 0;
  visibility: hidden;
}
/*光箱顯示*/
.sidebar-show {
  opacity: 1;
}
/*側欄的內容*/
.sidebar-content {
  position: absolute;
  width: 480px;
  height: 100%;
  background-color: white;
  padding: 10px 40px 0 40px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  transition: all 300ms ease-out;
  box-sizing: border-box;
}
/*側欄的內容 right out*/
.sidebar .sidebar-content-right-hidden {
  right: -480px;
}
/*側欄的內容 right in*/
.sidebar .sidebar-content-right-show {
  right: 0;
}
/*側欄的內容 left out*/
.sidebar .sidebar-content-left-hidden {
  left: -480px;
}
/*側欄的內容 left in*/
.sidebar .sidebar-content-left-show {
  left: 0;
}
/*側欄的內容的header*/
.sidebar .content-header {
  padding: 20px 0;
  position: relative;
}
/*側欄的內容的關閉按鈕*/
.sidebar-close-btn {
  width: 1.5rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/arrow-left.svg") no-repeat center;
  background-size: contain;
  cursor: pointer;
  vertical-align: top;
  /*for iOS removimg the highlight*/
  -webkit-tap-highlight-color: transparent;
}
.sidebar-close-btn:hover {
  opacity: 0.75;
}
/*側欄的header的title*/
.sidebar .sidebar-content .content-header .title {
  text-align: center;
  font-size: 28px;
  color: #1a1a1a;
}
/*側欄內容的body*/
.sidebar .sidebar-content .content-body {
  color: #1a1a1a;
  overflow-y: auto;
}

@media (max-width: 767px) {
  .sidebar .sidebar-content {
    width: 100%;
    padding: 0 20px;
    font-size: 19px;
  }
  .sidebar .sidebar-content .content-header .title {
    font-weight: bold;
    font-size: 19px;
  }
}
