body {
  font-family: "Lato", 微軟雅黑體, "Microsoft JhengHei", 微軟正黑體, Arial,
    sans-serif;
}
.empty-cart .row-icon {
  text-align: center;
}
.empty-cart .row1 {
  text-align: center;
  margin-top: 0;
  font-size: 20px;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.empty-cart .row2 {
  text-align: center;
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
}
.empty-cart .row-button {
  width: 100%;
  text-align: center;
}
.empty-cart .row-button button {
  font-family: inherit;
  font-size: 16px;
  min-width: 12.5rem;
  background: black;
  color: white;
  padding: 1.25rem;
  cursor: pointer;
  letter-spacing: 0.2em;
}
/*自定義sidebar*/
.sidebar .sidebar-content {
  width: 480px;
}
.empty-cart .icon {
  font-size: 6rem;
}
.empty-cart .group-empty {
  padding: 2.5rem 0;
}
.icon-block {
  margin-right: 0.5rem;
}
